@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Product Creation</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control"/>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
        <button type="submit" class="btn btn-primary" style="width: 150px"><i class="bi bi-check-circle"></i> Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary"><i class="bi bi-box-arrow-left"></i> Back</a>
    </div>
</form>
@section Scripts
{

@{
    <partial name="_ValidationScriptsPartial"/>
}
}

